@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap');

//colors
$brown-color: #7A6C5D;
$yellow-color: #F7CE5B;
$champagne-color: #DFD6A7;
$letter-color: black;
$text-light: white;

//font
$fonts-headline: 'Recursive', sans-serif;;
$fonts-body: 'Roboto', sans-serif;;