@use 'variables' as *;
@use 'atoms';

@keyframes animated-gradient {
    0% {background-position: 0% 0%;}
    10% {background-position: 10% 90%;}
    20% {background-position: 90% 90%;}
    30% {background-position: 90% 50%;}
    40% {background-position: 50% 90%;}
    50% {background-position: 50% 50%;}
    60% {background-position: 10% 90%;}
    70% {background-position: 0% 50%;}
    80% {background-position: 90% 70%;}
    90% {background-position: 90% 0%;}
    100%{background-position: 0% 0%;}
}

body::-webkit-scrollbar {
    display: none;
  }

html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: no-repeat url("images/background.jpg") center center;
    z-index: -100;
}

html::before{
    content:"";
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background:no-repeat radial-gradient(circle at center, transparent 10%, rgba(0,0,0, 0.85) 10%);
    background-size: 200% 200%;
    animation: animated-gradient 20s ease-in-out infinite;
    z-index: -10;
    display: block;
    position: absolute;
}
.main{
    display: contents;
    *{
        @include atoms.apile(2, span 1);
    }
}
body{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
    max-width: 1020px;
    overflow-y: scroll;
    overflow-x: hidden;
    
    @include atoms.breakpoint(large){
        display: grid;
    }
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    @include atoms.breakpoint(large){
        grid-template-columns: 1fr 2fr;  
    }
    .page-wrapper{
        display: contents;
    }
}
.intro{
    display: contents;   
}



// Footer

footer a {
    color: transparent;
    padding: 10px;
    &:hover {
        color: transparent;
        border-color: transparent;

    }
}
    
.zen-validate-html {
    @include atoms.logos("images/html_icon.png");
    &:hover{
        @include atoms.logos("images/html_icon2.png");
    }
}
.zen-validate-css {
    @include atoms.logos("images/css_icon.png");
    &:hover{
        @include atoms.logos("images/css_icon2.png");
    }
}
.zen-license {
    @include atoms.logos("images/cc_icon.png");
    &::after{
        content:"cc icon"
    }
    &:hover{
        @include atoms.logos("images/cc_icon2.png");
    }
}
.zen-accessibility {
    @include atoms.logos("images/accessibility_icon.png");
    &:hover{
        @include atoms.logos("images/accessibility_icon2.png");
    }
    &::after{
        content:"ac"
    }
}
.zen-github {
    @include atoms.logos("images/github_icon.png");
    &::after{
        content:"git"
    }
    &:hover{
        @include atoms.logos("images/github_icon2.png");
    }
}