@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Recursive", sans-serif;
  margin: 0;
}

h1 {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
  background-color: #F7CE5B;
  color: white;
  font-style: italic;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  text-align: center;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #CCCCCC;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: black;
  border-color: black;
  list-style: none;
}

ul {
  padding: 0;
  list-style: none;
}

abbr, .requirements a, .participation a {
  color: #003566;
  font-weight: bold;
}

.sidebar abbr {
  color: #CCCCCC;
  font-weight: bold;
}

.summary p {
  color: #CCCCCC;
}

[role=banner] {
  text-align: center;
}
[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}
@media (min-width: 500px) {
  [role=banner] {
    grid-column: 2/span 1;
  }
}

[role=article]:not(.summary) {
  background-color: #DFD6A7;
  padding: 1rem;
  margin-bottom: 1rem;
  z-index: 10;
}

.summary {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: normal;
  padding: 10% 0;
}
@media (min-width: 500px) {
  .summary {
    grid-column: 1/span 2;
  }
}

@media (min-width: 500px) {
  .preamble {
    grid-column: 2/span 1;
  }
}

.wrapper {
  text-align: center;
}

footer {
  grid-row: 9;
  grid-column: 1/3;
  display: flex;
}
@media (min-width: 500px) {
  footer {
    grid-row: 8;
  }
}

@media (min-width: 500px) {
  .sidebar {
    grid-row: 3/span 2;
  }
}

.extra1 {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  width: 150px;
  height: 150px;
  background-image: url("images/fbi-g82a9b62e8_1920.png");
  background-size: 150px;
  opacity: 0.1;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .extra1 {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }
}

@media (min-width: 500px) {
  .extra2 {
    grid-row: 5/6;
    grid-column: 1/2;
    justify-self: stretch;
    background-image: url("images/pexels-brett-jordan-4807505.jpg");
    opacity: 0.3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(130px, -100px) rotate(-40deg);
    z-index: 5;
    transition: all 2s 0.1s ease-in-out;
  }
  .extra2:hover {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.6;
  }
}

@media (min-width: 500px) {
  .extra3 {
    grid-row: 6/7;
    grid-column: 1/2;
    justify-self: stretch;
    background-image: url("images/pexels-suzy-hazelwood-4345114.jpg");
    opacity: 0.3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(130px) rotate(10deg);
    z-index: 5;
    transition: all 2s 0.1s ease-in-out;
  }
  .extra3:hover {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.6;
  }
}

@media (min-width: 500px) {
  .extra4 {
    grid-row: 7/8;
    grid-column: 1/2;
    justify-self: stretch;
    background-image: url("images/pexels-suzy-hazelwood-5227067.jpg");
    opacity: 0.3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    transform: translateX(300px) rotate(-90deg);
    z-index: 5;
    transition: all 2s 0.1s ease-in-out;
  }
  .extra4:hover {
    transform: translate(0px, 0px) rotate(0deg);
    opacity: 0.6;
  }
}

.extra5 {
  grid-row: 8/9;
  grid-column: 1/2;
  background-image: url("images/magnifying-glass.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  justify-self: stretch;
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 10% 90%;
  }
  20% {
    background-position: 90% 90%;
  }
  30% {
    background-position: 90% 50%;
  }
  40% {
    background-position: 50% 90%;
  }
  50% {
    background-position: 50% 50%;
  }
  60% {
    background-position: 10% 90%;
  }
  70% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 90% 70%;
  }
  90% {
    background-position: 90% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: no-repeat url("images/background.jpg") center center;
  z-index: -100;
}

html::before {
  content: "";
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: no-repeat radial-gradient(circle at center, transparent 10%, rgba(0, 0, 0, 0.85) 10%);
  background-size: 200% 200%;
  animation: animated-gradient 20s ease-in-out infinite;
  z-index: -10;
  display: block;
  position: absolute;
}

.main {
  display: contents;
}
@media (min-width: 500px) {
  .main * {
    grid-column: 2/span 1;
  }
}

body {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100vh;
  max-width: 1020px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}
@media (min-width: 500px) {
  body {
    display: grid;
  }
}
@media (min-width: 500px) {
  body {
    grid-template-columns: 1fr 2fr;
  }
}
body .page-wrapper {
  display: contents;
}

.intro {
  display: contents;
}

footer a {
  color: transparent;
  padding: 10px;
}
footer a:hover {
  color: transparent;
  border-color: transparent;
}

.zen-validate-html {
  background-image: url("images/html_icon.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-validate-html:hover {
  background-image: url("images/html_icon2.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

.zen-validate-css {
  background-image: url("images/css_icon.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-validate-css:hover {
  background-image: url("images/css_icon2.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

.zen-license {
  background-image: url("images/cc_icon.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-license::after {
  content: "cc icon";
}
.zen-license:hover {
  background-image: url("images/cc_icon2.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

.zen-accessibility {
  background-image: url("images/accessibility_icon.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-accessibility:hover {
  background-image: url("images/accessibility_icon2.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-accessibility::after {
  content: "ac";
}

.zen-github {
  background-image: url("images/github_icon.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.zen-github::after {
  content: "git";
}
.zen-github:hover {
  background-image: url("images/github_icon2.png");
  background-color: transparent;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}

/*# sourceMappingURL=styles.css.map */
